@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: rgb(99, 124, 224);
    
    
}



#Manual{
  display:block;
  text-decoration:none;
  padding:5px;
  color:rgb(56, 77, 160);

  
  /*background-color:rgb(199, 202, 214) ;*/
  font-size: 70px;
  cursor:pointer;
  text-align: center;
  
  transition:.5s ease;
}
#Manual :hover{
    background-color:rgb(98, 0, 255);
    color: rgb(0, 119, 255);

    
}/*
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;

    &:hover {
      background:$main-dark;
      color:$white;
    }
  
*/
#Manual a{
  position: relative;
    color:rgb(200, 169, 250);
    font-family: 'Kumbh Sans', sans-serif;
  text-decoration: none;
  background-size: contain;

  
 
}
#Manual{
    text-align: center;
}

iframe{
  height: 500px;
  position: relative;
  align-content: center;
  
}
#EnviarIframe  {
  margin: 0 auto; 
  width:250px;
  height: 250px;
  
}

#ManualIframe{
  margin: 0 auto ;
  padding: 50px 50px 50px 50px; 
  width:250px;
  color:rgb(62, 0, 161);
  font-family: 'Kumbh Sans', sans-serif;
  text-decoration: none;
  font-size:15px ;
  background-color: rgb(200, 216, 218);
}
#ManualIframe input{
  margin: 10px 0px 10px 0px ;
  background-color: rgba(137, 43, 226, 0.295);
}
#ManualIframe div{
  background-color: aquamarine;
}
#ManualIframe label{
  background-color: aquamarine;
}
#ManualIframe h3{

  background-color: aquamarine;
}
#ManualIframe button{
  background-color: rgb(2, 216, 216);
}